* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

.todo {
  width: 40vw;
  height: 40vw;
  border: 0.3rem dashed #666666;
  border-radius: 1rem;
  margin-top: 2rem;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 1rem 2.5rem;
  border: 1px solid;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 2rem;
  background: transparent;
}
form input :active {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 2rem;
  background: transparent;
}

form button {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 2rem;
  background: transparent;
  margin-left: 1rem;
  transition: 0.3s;
}

form button:hover {
  background: rgb(226, 226, 226);
}
.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 1px -1px #000000, 0 1px 1px 0 #000000, 0 1px 3px 0 #000000;
  padding: 1rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
}
